html {
  background-color: #eee9de;
  box-sizing: border-box;
  line-height: 1.5;
}

h1 {
  margin: 0;
  font-family: Lato, bold;
  font-size: 1.5rem;
  vertical-align: middle;
}

h2 {
  color: #333;
  margin-top: 0;
  font-weight: bold;
}

div {
  display: inline-block;
  max-width: 25em;
  vertical-align: middle;
  padding: 1em;
}

*, *::before, *::after {
  box-sizing: inherit;
}

div:nth-of-type(2) {
  text-align: left;
}

img {
  display: block;
  width: 100%;
}

body {
  color: #333;
  font-family: Lato, sans-serif;
}

.btn {
  text-decoration: none;
  color: #333;
  border-style: solid;
  padding: .6em;
  border-radius: 8px;
  font-weight: bold;
  text-align: left;
  display: inline-block;
  font-size: 1.1rem;
}

p {
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}

section {
  text-align: center;
  margin: 0;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

a:hover {
  color: #eee9de;
  background-color: #666;
}
